section.results
    .container
        .row
            .col-12(data-tab)
                ul.results-header
                    li(data-tab-value).d-md-none
                        span Suggested Jobs
                    li(data-tab-item="suggested").active Suggested Jobs
                    li(data-tab-item="applied") Applied Jobs
                    li(data-tab-item="saved") Saved Jobs
                .results-link
                    .container-fluid.p-0
                        .row
                            .col-12.col-md-8
                                p Below are other jobs you might like, based on your resume, prior job applications and search history.
                            .col-12.col-md-4.d-md-flex.justify-content-md-end
                                a(href="#").color-primary View Dismissed Jobs <i class="fa fa-angle-right"></i>
                ul.results-content
                    li(data-tab-content="suggested").active
                        .container-fluid.p-0
                            .row
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-7.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Front-End Developer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen, GC Holders or Authorized to Work in the US Overview: We are seeking a senior
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-8.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Sr. .NET Developer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-9.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Senior Ruby Developer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen, GC Holders or Authorized to Work in the US Overview: We are seeking a senior
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-10.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Senior Ruby Developer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen, GC Holders or Authorized to Work in the US Overview: We are seeking a senior
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-1.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Full Stack Software Engineer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-2.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Full Stack Software Engineer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen, GC Holders or Authorized to Work in the US Overview: We are seeking a senior
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                    li(data-tab-content="applied")
                        .container-fluid.p-0
                            .row
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-9.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Senior Ruby Developer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen, GC Holders or Authorized to Work in the US Overview: We are seeking a senior
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-10.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Senior Ruby Developer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen, GC Holders or Authorized to Work in the US Overview: We are seeking a senior
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-1.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Full Stack Software Engineer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-2.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Full Stack Software Engineer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen, GC Holders or Authorized to Work in the US Overview: We are seeking a senior
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                    li(data-tab-content="saved")
                        .container-fluid.p-0
                            .row
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-1.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Full Stack Software Engineer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
                                .col-12.col-sm-6.col-lg-4.d-flex
                                    .card-vacancy
                                        .card-vacancy-logo
                                            img(src="images/companies-image-2.png" alt="logo")
                                        .card-vacancy-content
                                            h3 Full Stack Software Engineer
                                            span TekPartners, A P2P Company
                                            span Boynton Beach, FL
                                            ul
                                                li
                                                    span Pay
                                                    span xxx
                                                li
                                                    span Benefits
                                                    span xxx
                                                li
                                                    span Type
                                                    span xxx
                                            p (ReactJS) Location : Bethesda, Maryland Duration : 10 Months Work Requirements : US Citizen, GC Holders or Authorized to Work in the US Overview: We are seeking a senior
                                        .card-vacancy-footer
                                            a(href="#").btn.btn-primary View Details
                                            a(href="#").btn.btn-outline-primary Dismiss
