footer.footer
    .container
        .row
            .col-12.col-xl-9
                h3 About Us
                p Since 2019, ecjobhunting.com has given job seekers free access to millions of jobs from thousands of company websites and job boards. As the leading pay-for-performance recruitment advertising network, ecjobhunting.com drives millions of targeted applicants to jobs in every field and is the most cost-effective source of candidates for thousands of companies.
        .row
            .col-12.col-md-4.col-xl-3
                h3 For Candidates
                ul
                    li About Candidate
                    li Browse Jobs
                    li Browse Categories
                    li Submit Resume
                    li Privacy Policy
                    li Terms & Conditions
            .col-12.col-md-4.col-xl-3
                h3 For Employers
                ul
                    li Employer Login
                    li Privacy Policy
                    li Terms & Conditions
                    li Post a Job
                    li Job Packages
                    li View Profile
            .col-12.col-md-4.col-xl-3
                h3 Other
                ul
                    li Communications
                    li How It Works
                    li Contact Us
                .social
                    ul
                        li
                            a(href="#")
                                i.fa.fa-facebook
                        li
                            a(href="#")
                                i.fa.fa-instagram
