header.header
    .container
        .row.align-items-md-center
            .col-6.col-md-3
                .header-logo
                    img(src="images/logo-2x.jpg" alt="")
            .col-6.col-md-6.align-self-md-center.d-flex.justify-content-end.justify-content-xl-start
                .header-burger.d-md-none
                    span
                nav
                    ul.header-menu
                        li
                            a(href="#").active Home
                        li
                            a(href="#") Jobs
                        li
                            a(href="#") About
                        li
                            a(href="#") Contact
            .col.d-none.d-md-block.col-md-3.col-xl-2.header-button-wrapper
                a(href="#").btn.btn-outline-white Login  /  Sign Up