$color-white: #fff;
$color-black: #000;
$color-primary: #71af06;
$color-secondary: #a6a6a6;
$color-grey: #d0d3d4;
$color-grey-light: #f0f4f7;
$color-red: #ea5050;

$font: 'Roboto', sans-serif;
$font-title: 'Quicksand', sans-serif;

$br: 6px;
