section.categories
    .container
        .row
            .col-12
                h2.align-center Popular Job Categories
        .row.justify-content-center
            .col-12.col-md-10.col-xl-12
                ul
                    li
                        a(href="#").btn.btn-outline-secondary Accounting
                    li
                        a(href="#").btn.btn-outline-secondary Automotive
                    li
                        a(href="#").btn.btn-outline-secondary Constructions
                    li
                        a(href="#").btn.btn-outline-secondary Food Services
                    li
                        a(href="#").btn.btn-outline-secondary Manufacturing jobs
                    li
                        a(href="#").btn.btn-outline-secondary Marketing & PR
                    li
                        a(href="#").btn.btn-outline-secondary Media
                    li
                        a(href="#").btn.btn-outline-secondary Retail
                    li
                        a(href="#").btn.btn-outline-secondary Sales & Marketing
                    li
                        a(href="#").btn.btn-outline-secondary Technology
                    li
                        a(href="#").btn.btn-outline-secondary Telecommunications
                    li
                        a(href="#").btn.btn-outline-secondary Transportation
