form.hero
    .container
        .row.d-flex.justify-content-xl-center
            .col-12
                h1 The Fastest Way to Get Hired
            .col-12.col-md-5.col-xl-4
                label.my-2
                    input(type="text" placeholder="Job Title").field-text
            .col-12.col-md-5.col-xl-4
                label.my-2
                    input(type="text" placeholder="Location").field-text
            .col-12.col-md-2
                button(type="submit").btn.btn-primary.my-2 Search
        .row
            .col-6.col-md-3.hero-numbers
                strong 6890
                span Jobs
            .col-6.col-md-3.hero-numbers
                strong 2773
                span Members
            .col-6.col-md-3.hero-numbers
                strong 1200
                span Resumes
            .col-6.col-md-3.hero-numbers
                strong 1300
                span Companies
