section.register
    .container
        .row
            .col-12.col-md-6.register-item
                .register-item-icon.d-none.d-md-flex
                    img(src="images/icons/register-icon-1.png" alt="icon")
                h3 Employer Account
                p We are a group of entrepreneurs brought together to provide a differentiated approach to the recruiting industry.
                a(href="#").btn.btn-outline-secondary Register Account
            .col-12.col-md-6.register-item
                .register-item-icon.d-none.d-md-flex
                    img(src="images/icons/register-icon-2.png" alt="icon")
                h3 Candidates Account
                p We are a group of entrepreneurs brought together to provide differentiated approach. We are a group of entrepreneurs
                a(href="#").btn.btn-outline-secondary Register Account