section.results
    .container
        .row
            .col-12(data-tab)
                h2.align-center We have founds 16 available jobs for you
                ul.results-header
                    li(data-tab-value).d-md-none
                        span Jobs
                    li(data-tab-item="jobs").active Jobs
                    li(data-tab-item="resumes") Latest Resumes
                    li(data-tab-item="companies") Latest Companies
                ul.results-content
                    li(data-tab-content="jobs").active
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/jobs-image-1.png" alt="image")
                                    .col-12.col-md-10.col-xl-9
                                        small 5 years ago
                                        h4.color-primary Computer and Information Tech
                                        ul
                                            li
                                                span.color-secondary Full-Time
                                            li
                                                span.color-secondary London, United Kingdom
                                        p Schweitzer Engineering Laboratories (SEL) seeks a professional, innovative and detailed individual for our Mechanical Designer position. If you are looking for an opportunity to practice World Class ...
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/jobs-image-2.png" alt="image")
                                    .col-12.col-md-10.col-xl-9
                                        small 5 years ago
                                        h4.color-primary Graduate Inside Sales Representatives
                                        ul
                                            li
                                                span.color-secondary Full-Time
                                            li
                                                span.color-secondary London, United Kingdom
                                        p Schweitzer Engineering Laboratories (SEL) seeks a professional, innovative and detailed individual for our Mechanical Designer position. If you are looking for an opportunity to practice World Class ...
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/jobs-image-3.png" alt="image")
                                    .col-12.col-md-10.col-xl-9
                                        small 5 years ago
                                        h4.color-primary Java Developer Scala Spring Linux Java Dev
                                        ul
                                            li
                                                span.color-secondary Full-Time
                                            li
                                                span.color-secondary London, United Kingdom
                                        p Schweitzer Engineering Laboratories (SEL) seeks a professional, innovative and detailed individual for our Mechanical Designer position. If you are looking for an opportunity to practice World Class ...
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/jobs-image-4.png" alt="image")
                                    .col-12.col-md-10.col-xl-9
                                        small 5 years ago
                                        h4.color-primary Graduate Inside Sales Executive Job
                                        ul
                                            li
                                                span.color-secondary Full-Time
                                            li
                                                span.color-secondary London, United Kingdom
                                        p Schweitzer Engineering Laboratories (SEL) seeks a professional, innovative and detailed individual for our Mechanical Designer position. If you are looking for an opportunity to practice World Class ...
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/jobs-image-5.png" alt="image")
                                    .col-12.col-md-10.col-xl-9
                                        small 5 years ago
                                        h4.color-primary Senior Rolling Stock Technician Required
                                        ul
                                            li
                                                span.color-secondary Full-Time
                                            li
                                                span.color-secondary London, United Kingdom
                                        p Schweitzer Engineering Laboratories (SEL) seeks a professional, innovative and detailed individual for our Mechanical Designer position. If you are looking for an opportunity to practice World Class ...
                    li(data-tab-content="resumes")
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/customer-photo-1.jpg" alt="photo")
                                    .col-12.col-md-10.col-xl-9.d-flex.flex-wrap
                                        h4.color-primary Ann Fuller
                                        span.results-country.color-secondary London
                                        ul
                                            li
                                                span.color-secondary $50000 p.a minimum
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/customer-photo-2.jpg" alt="photo")
                                    .col-12.col-md-10.col-xl-9.d-flex.flex-wrap
                                        h4.color-primary Annasmith
                                        ul
                                            li
                                                span.color-secondary Last Activity 12 months ago
                                            li
                                                span.color-secondary Automotive
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/customer-photo-3.jpg" alt="photo")
                                    .col-12.col-md-10.col-xl-9.d-flex.flex-wrap
                                        h4.color-primary Annette Cox
                                        span.results-country.color-secondary Greenford
                                        ul
                                            li
                                                span.color-secondary $50000 p.a minimum
                                            li
                                                span.color-secondaryLast Activity 4 years ago
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/customer-photo-4.jpg" alt="photo")
                                    .col-12.col-md-10.col-xl-9.d-flex.flex-wrap
                                        h4.color-primary Barry Burns
                                        span.results-country.color-secondary London
                                        ul
                                            li
                                                span.color-secondary $50000 p.a minimum
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/customer-photo-5.jpg" alt="photo")
                                    .col-12.col-md-10.col-xl-9.d-flex.flex-wrap
                                        h4.color-primary Betty Stanley
                                        span.results-country.color-secondary London
                                        ul
                                            li
                                                span.color-secondary $50000 p.a minimum
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/customer-photo-6.jpg" alt="photo")
                                    .col-12.col-md-10.col-xl-9.d-flex.flex-wrap
                                        h4.color-primary Billy Reed
                                        span.results-country.color-secondary London
                                        ul
                                            li
                                                span.color-secondary $50000 p.a minimum
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/customer-photo-1.jpg" alt="photo")
                                    .col-12.col-md-10.col-xl-9.d-flex.flex-wrap
                                        h4.color-primary Annasmith
                                        ul
                                            li
                                                span.color-secondary Last Activity 12 months ago
                                            li
                                                span.color-secondary Automotive
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/customer-photo-2.jpg" alt="photo")
                                    .col-12.col-md-10.col-xl-9.d-flex.flex-wrap
                                        h4.color-primary Annette Cox
                                        span.results-country.color-secondary Greenford
                                        ul
                                            li
                                                span.color-secondary $50000 p.a minimum
                                            li
                                                span.color-secondary Last Activity 4 years ago
                    li(data-tab-content="companies")
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center.align-items-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/companies-image-1.png" alt="logo")
                                    .col-12.col-md-7.col-xl-7.d-flex.flex-wrap
                                        h4.color-primary Altes Bank
                                        span.results-country.color-secondary United Kingdom
                                        ul
                                             li
                                                span.color-secondary Retail
                                    .col.d-none.d-md-block.col-md-3.col-xl-2
                                        span.color-secondary 0 vacancies
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center.align-items-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/companies-image-2.png" alt="logo")
                                    .col-12.col-md-7.col-xl-7.d-flex.flex-wrap
                                        h4.color-primary Altes Bank
                                        ul
                                            li
                                                span.color-secondary London, United Kingdom
                                    .col.d-none.d-md-block.col-md-3.col-xl-2
                                        span.color-primary 103 vacancies
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center.align-items-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/companies-image-3.png" alt="logo")
                                    .col-12.col-md-7.col-xl-7.d-flex.flex-wrap
                                        h4.color-primary Altes Bank
                                        ul
                                            li
                                                span.color-secondary London, United Kingdom
                                    .col.d-none.d-md-block.col-md-3.col-xl-2
                                        span.color-primary 15 vacancies
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center.align-items-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/companies-image-4.png" alt="logo")
                                    .col-12.col-md-7.col-xl-7.d-flex.flex-wrap
                                        h4.color-primary Altes Bank
                                        ul
                                            li
                                                span.color-secondary United Kingdom
                                    .col.d-none.d-md-block.col-md-3.col-xl-2
                                        span.color-primary 7 vacancies
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center.align-items-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/companies-image-5.png" alt="logo")
                                    .col-12.col-md-7.col-xl-7.d-flex.flex-wrap
                                        h4.color-primary Altes Bank
                                        ul
                                            li
                                                span.color-secondary United Kingdom
                                    .col.d-none.d-md-block.col-md-3.col-xl-2
                                        span.color-primary 12 vacancies
                        .results-item
                            .container-fluid
                                .row.d-flex.justify-content-xl-center.align-items-center
                                    .col.d-none.d-md-block.col-md-2.col-xl-1
                                        .results-image
                                            img(src="images/companies-image-6.png" alt="logo")
                                    .col-12.col-md-7.col-xl-7.d-flex.flex-wrap
                                        h4.color-primary Altes Bank
                                        ul
                                            li
                                                span.color-secondary London, United Kingdom
                                    .col.d-none.d-md-block.col-md-3.col-xl-2
                                        span.color-primary 5 vacancies
