form.container-fluid.p-0
    .row.mt-md-4
        .col-12.col-xl-3
            label(for="post-job-title-dublicate").field-label.mb-2.mb-md-0.mt-md-3.mt-xl-3 Enter a Previous Job Title <span class="color-primary">*</span>
        .col-12.col-xl-7.mt-md-4.mt-xl-0
            input(type="text" id="post-job-title-dublicate" required).field-text
            p.mt-4
                <strong>Important: </strong> Posting an exact copy of an active job in the same or nearby location will be rejected by the job boards
            button(type="submit").btn.btn-primary.btn-lg.mt-4.mt-xl-5 Dublicate Job
