form.hero
    .container
        .row.d-flex.justify-content-xl-center
            .col-12.col-md-5.col-xl-4
                label.my-2
                    input(type="text" placeholder="Job Title").field-text
            .col-12.col-md-5.col-xl-4
                label.my-2
                    input(type="text" placeholder="Location").field-text
            .col-12.col-md-2
                button(type="submit").btn.btn-primary.my-2 Search
