.modal {

  &-backdrop {
    background-color: $color-grey-light;

    &.show {
      opacity: .8;
    }

  }

  &-header {
    display: flex;
    align-items: flex-end;
    padding: 20px 15px;
    border-bottom: none;

    h2 {
      margin: 0;
    }

    .close {
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 0;
      flex-shrink: 0;
      background-color: $color-grey-light;
      border-radius: $br;
      line-height: 50px;
    }

  }

  &-body {
    padding: 10px 15px 40px;
  }

  &-footer {
    margin: 0 15px;
    padding: 30px 0;
    justify-content: flex-start;

    .btn {
      margin: 10px 30px 10px 0;

      &:last-of-type {
        margin: 10px 0;
      }

    }

  }

  .profile-photo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 30px;

    &-image {
      width: 50px;
      height: 50px;
      margin: 0 15px 0 0;
    }

    label {
      width: auto;
      height: auto;
      overflow: visible;
      border-radius: initial;
      background-color: transparent;
      border: none;
      font-size: 16px;
      line-height: 20px;
      color: $color-primary;
      position: static;

      &:hover {
        text-decoration: underline;
      }

    }

  }

  .field-label {
    margin: 15px 0 5px;
  }

  fieldset {
    margin: 15px 0 0;
  }

  @include more-768 {

    &-header {
      padding: 20px 15px 20px 40px;
    }

    &-body {
      padding: 10px 40px 40px;
    }

    &-footer {
      margin: 0 40px;
    }

  }

  @include more-992 {

  }

  @include  more-1200 {

  }

}
