nav.menu.menu-jobs
    .container.p-0
        .row
            .col-12.col-md-3.d-xl-none
                span Account menu:
            .col-12.col-md-6.col-xl-12
                ul(data-select)
                    li
                        a(href="/employer-post-job.html") Post a Job
                    li
                        a(href="/employer-dashboard.html") Dashboard
                    li
                        a(href="/employer-candidates.html") Candidates
                    li
                        a(href="/employer-jobs.html") Jobs
                    li
                        a(href="/employer-messages.html") Messages
                    li(data-select-value)
                        a Resume Database
                    li
                        a(href="/employer-help.html") Help
                    li
                        a(href="/employer-activate.html") <img src="images/icons/active.png" alt="some text" /> Activate
