extends ../layout/inner

block title
    | About EcJobHunting

block content
    include ../modules/pages/about

block scripts
    script(src="js/index/libs.js")
    script(src="js/index/scripts.js")
