extends ../layout/inner-logge-in

block title
    | Employer: activate

block content
    include ../modules/pages/employer/menu/menu-activate
    include ../modules/pages/employer/activate


block scripts
    script(src="js/index/libs.js")
    script(src="js/index/scripts.js")
