extends ../layout/inner-logge-in

block title
    | Employer: help

block content
    include ../modules/pages/employer/menu/menu-help
    include ../modules/pages/employer/help

block scripts
    script(src="js/index/libs.js")
    script(src="js/index/scripts.js")
