extends ../layout/inner

block title
    | Jobs

block content
    include ../modules/pages/jobs/hero
    include ../modules/pages/jobs/jobs

block scripts
    script(src="js/index/libs.js")
    script(src="js/index/scripts.js")
