extends ../layout/inner-logge-in

block title
    | Seeker-jobs

block content
    include ../modules/pages/seeker-jobs/menu
    include ../modules/pages/seeker-jobs/hero
    include ../modules/pages/seeker-jobs/results

block scripts
    script(src="js/index/libs.js")
    script(src="js/index/scripts.js")
