.page.employer
    .container
        .row
            .col-12
                h1 ProWebDesignUSA, we're so glad you're back!
                p Just click 'Reactivate Now' to restore full access to your account.
                .ys-card
                    h3.text-large.m-0.p-0.d-md-inline Starter Plan, 3 Jobs, Monthly Subscription:
                    span.text-large.color-primary.ml-md-3 $319.00/month
                    p.mb-xl-0 3 open jobs at a time with unlimited candidates and access to their resumes
                    a(href="#").color-primary View all plans
                .ys-card-white.mt-3
                    h3.text-large.m-0.mb-3.p-0.mb-xl-0 Credit card on file: XXXX-XXXX-XXXX-1708
                    a(href="#").color-primary Replace card on file
                .d-md-flex.align-items-center.mt-md-5
                    a(href="#").btn.btn-primary.px-5.d-block.my-3.my-md-0 Reactivate Now
                    a(href="#").btn.btn-outline-primary.px-5.d-block.ml-md-4 Cancel
