.page.employer
    .container
        .row.mb-5
            .col-12.col-md-11.col-xl-7
                .ys-select.ys-select-bordered(data-select)
                    span(data-select-value) Filter by job
                    ul
                        li(data-select-item) Item 1
                        li(data-select-item) Item 2
                        li(data-select-item) Item 3
                    input(type="text").d-none
        .row
            .col-12.col-xl-8
                h3 Candidates <span>(20)</span>
                ul.filter-list
                    li
                        a(href="#").active.color-black All
                    li
                        a(href="#").color-black New
                    li
                        a(href="#").color-black Great Matches
                    li
                        a(href="#").color-black Unrated
                    li
                        a(href="#").color-black Interested
                    li
                        a(href="#").color-black Within 100 Mi
                .results-item.mt-4
                    .container-fluid
                        .row.d-flex.justify-content-xl-center
                            .col.d-none.d-md-block.col-md-3.col-xl-2
                                .results-image
                                    img(src="images/customer-photo-1.jpg" alt="photo")
                            .col-12.col-md-6.col-xl-7.d-flex.flex-wrap
                                small Yesterday
                                h4.color-primary Ann Fuller
                                span.results-country.color-secondary London
                                ul
                                    li
                                        span.color-secondary Applied to Graphic Designer
                                    li.color-black Director <span class="color-secondary">at Galirie 255</span>
                                    li.color-black Independent Contractor <span class="color-secondary">at VIZ Media</span>
                                    li.color-black Bachelor of Fine Arts (BFA) <span class="color-secondary">in Graphic Design</span>
                            .col-12.col-md-3.mt-3.mt-md-0
                                .rate-buttons
                                    button
                                        img(src="images/icons/rate-plus.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-null.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-minus.png" alt="icon")

                .results-item
                    .container-fluid
                        .row.d-flex.justify-content-xl-center
                            .col.d-none.d-md-block.col-md-3.col-xl-2
                                .results-image
                                    img(src="images/customer-photo-2.jpg" alt="photo")
                            .col-12.col-md-6.col-xl-7.d-flex.flex-wrap
                                small Yesterday
                                h4.color-primary Anna Smith
                                span.results-country.color-secondary London
                                ul
                                    li
                                        span.color-secondary Applied to Graphic Designer
                                    li.color-black Director <span class="color-secondary">at Galirie 255</span>
                                    li.color-black Independent Contractor <span class="color-secondary">at VIZ Media</span>
                                    li.color-black Bachelor of Fine Arts (BFA) <span class="color-secondary">in Graphic Design</span>
                            .col-12.col-md-3.mt-3.mt-md-0
                                .rate-buttons
                                    button
                                        img(src="images/icons/rate-plus.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-null.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-minus.png" alt="icon")

                .results-item
                    .container-fluid
                        .row.d-flex.justify-content-xl-center
                            .col.d-none.d-md-block.col-md-3.col-xl-2
                                .results-image
                                    img(src="images/customer-photo-3.jpg" alt="photo")
                            .col-12.col-md-6.col-xl-7.d-flex.flex-wrap
                                small Yesterday
                                h4.color-primary Annette Cox
                                span.results-country.color-secondary London
                                ul
                                    li
                                        span.color-secondary Applied to Graphic Designer
                                    li.color-black Director <span class="color-secondary">at Galirie 255</span>
                                    li.color-black Independent Contractor <span class="color-secondary">at VIZ Media</span>
                                    li.color-black Bachelor of Fine Arts (BFA) <span class="color-secondary">in Graphic Design</span>
                            .col-12.col-md-3.mt-3.mt-md-0
                                .rate-buttons
                                    button
                                        img(src="images/icons/rate-plus.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-null.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-minus.png" alt="icon")

                .results-item
                    .container-fluid
                        .row.d-flex.justify-content-xl-center
                            .col.d-none.d-md-block.col-md-3.col-xl-2
                                .results-image
                                    img(src="images/customer-photo-4.jpg" alt="photo")
                            .col-12.col-md-6.col-xl-7.d-flex.flex-wrap
                                small Yesterday
                                h4.color-primary Barry Burns
                                span.results-country.color-secondary London
                                ul
                                    li
                                        span.color-secondary Applied to Graphic Designer
                                    li.color-black Director <span class="color-secondary">at Galirie 255</span>
                                    li.color-black Independent Contractor <span class="color-secondary">at VIZ Media</span>
                                    li.color-black Bachelor of Fine Arts (BFA) <span class="color-secondary">in Graphic Design</span>
                            .col-12.col-md-3.mt-3.mt-md-0
                                .rate-buttons
                                    button
                                        img(src="images/icons/rate-plus.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-null.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-minus.png" alt="icon")

                .results-item
                    .container-fluid
                        .row.d-flex.justify-content-xl-center
                            .col.d-none.d-md-block.col-md-3.col-xl-2
                                .results-image
                                    img(src="images/customer-photo-5.jpg" alt="photo")
                            .col-12.col-md-6.col-xl-7.d-flex.flex-wrap
                                small Yesterday
                                h4.color-primary Ann Fuller
                                span.results-country.color-secondary London
                                ul
                                    li
                                        span.color-secondary Applied to Graphic Designer
                                    li.color-black Director <span class="color-secondary">at Galirie 255</span>
                                    li.color-black Independent Contractor <span class="color-secondary">at VIZ Media</span>
                                    li.color-black Bachelor of Fine Arts (BFA) <span class="color-secondary">in Graphic Design</span>
                            .col-12.col-md-3.mt-3.mt-md-0
                                .rate-buttons
                                    button
                                        img(src="images/icons/rate-plus.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-null.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-minus.png" alt="icon")

                .results-item
                    .container-fluid
                        .row.d-flex.justify-content-xl-center
                            .col.d-none.d-md-block.col-md-3.col-xl-2
                                .results-image
                                    img(src="images/customer-photo-6.jpg" alt="photo")
                            .col-12.col-md-6.col-xl-7.d-flex.flex-wrap
                                small Yesterday
                                h4.color-primary Anna Smith
                                span.results-country.color-secondary London
                                ul
                                    li
                                        span.color-secondary Applied to Graphic Designer
                                    li.color-black Director <span class="color-secondary">at Galirie 255</span>
                                    li.color-black Independent Contractor <span class="color-secondary">at VIZ Media</span>
                                    li.color-black Bachelor of Fine Arts (BFA) <span class="color-secondary">in Graphic Design</span>
                            .col-12.col-md-3.mt-3.mt-md-0
                                .rate-buttons
                                    button
                                        img(src="images/icons/rate-plus.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-null.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-minus.png" alt="icon")

                .results-item
                    .container-fluid
                        .row.d-flex.justify-content-xl-center
                            .col.d-none.d-md-block.col-md-3.col-xl-2
                                .results-image
                                    img(src="images/customer-photo-1.jpg" alt="photo")
                            .col-12.col-md-6.col-xl-7.d-flex.flex-wrap
                                small Yesterday
                                h4.color-primary Annette Cox
                                span.results-country.color-secondary London
                                ul
                                    li
                                        span.color-secondary Applied to Graphic Designer
                                    li.color-black Director <span class="color-secondary">at Galirie 255</span>
                                    li.color-black Independent Contractor <span class="color-secondary">at VIZ Media</span>
                                    li.color-black Bachelor of Fine Arts (BFA) <span class="color-secondary">in Graphic Design</span>
                            .col-12.col-md-3.mt-3.mt-md-0
                                .rate-buttons
                                    button
                                        img(src="images/icons/rate-plus.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-null.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-minus.png" alt="icon")

                .results-item
                    .container-fluid
                        .row.d-flex.justify-content-xl-center
                            .col.d-none.d-md-block.col-md-3.col-xl-2
                                .results-image
                                    img(src="images/customer-photo-2.jpg" alt="photo")
                            .col-12.col-md-6.col-xl-7.d-flex.flex-wrap
                                small Yesterday
                                h4.color-primary Barry Burns
                                span.results-country.color-secondary London
                                ul
                                    li
                                        span.color-secondary Applied to Graphic Designer
                                    li.color-black Director <span class="color-secondary">at Galirie 255</span>
                                    li.color-black Independent Contractor <span class="color-secondary">at VIZ Media</span>
                                    li.color-black Bachelor of Fine Arts (BFA) <span class="color-secondary">in Graphic Design</span>
                            .col-12.col-md-3.mt-3.mt-md-0
                                .rate-buttons
                                    button
                                        img(src="images/icons/rate-plus.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-null.png" alt="icon")
                                    button
                                        img(src="images/icons/rate-minus.png" alt="icon")

            .col-12.col-xl-4.d-none.d-xl-block
                .filter-sidebar
                    h3.m-0 Filter by Recently Posted Job
                    p.m-0 Showing up to 10 active jobs, newest first
                    ul.mt-4
                        li
                            strong.d-block.text-regular.color-primary Manager
                            span.color-secondary London
                        li
                            strong.d-block.text-regular.color-primary Graphic Designer
                            span.color-secondary London
