.page
    .container.mt-4
        .row
            .col-12
                h1 Rate Latest Candidates
                p.mb-md-4 View the candidates who most recently applied to your job. Rate your candidates to help us find more matches.
                h3 Candidates
                .candidate-list
                    .candidate-card
                        h4.text-large.text-regular.color-primary.m-0 Christopher Kallini
                        p.m-0.mt-2 Applied to: Graphic Designer
                        p.m-0.color-secondary Apr 9, 2020
                        p.m-0.mt-3 Director
                        p.m-0.color-secondary at Galerie 255
                        .rate-buttons
                            button
                                img(src="images/icons/rate-plus.png" alt="icon")
                            button
                                img(src="images/icons/rate-null.png" alt="icon")
                            button
                                img(src="images/icons/rate-minus.png" alt="icon")
                    .candidate-card
                        h4.text-large.text-regular.color-primary.m-0 Christopher Kallini
                        p.m-0.mt-2 Applied to: Graphic Designer
                        p.m-0.color-secondary Apr 9, 2020
                        p.m-0.mt-3 Director
                        p.m-0.color-secondary at Galerie 255
                        .rate-buttons
                            button
                                img(src="images/icons/rate-plus.png" alt="icon")
                            button
                                img(src="images/icons/rate-null.png" alt="icon")
                            button
                                img(src="images/icons/rate-minus.png" alt="icon")
                    .candidate-card
                        h4.text-large.text-regular.color-primary.m-0 Christopher Kallini
                        p.m-0.mt-2 Applied to: Graphic Designer
                        p.m-0.color-secondary Apr 9, 2020
                        p.m-0.mt-3 Director
                        p.m-0.color-secondary at Galerie 255
                        .rate-buttons
                            button
                                img(src="images/icons/rate-plus.png" alt="icon")
                            button
                                img(src="images/icons/rate-null.png" alt="icon")
                            button
                                img(src="images/icons/rate-minus.png" alt="icon")
                    .candidate-card
                        h4.text-large.text-regular.color-primary.m-0 Christopher Kallini
                        p.m-0.mt-2 Applied to: Graphic Designer
                        p.m-0.color-secondary Apr 9, 2020
                        p.m-0.mt-3 Director
                        p.m-0.color-secondary at Galerie 255
                        .rate-buttons
                            button
                                img(src="images/icons/rate-plus.png" alt="icon")
                            button
                                img(src="images/icons/rate-null.png" alt="icon")
                            button
                                img(src="images/icons/rate-minus.png" alt="icon")
                    .candidate-card
                        h4.text-large.text-regular.color-primary.m-0 Christopher Kallini
                        p.m-0.mt-2 Applied to: Graphic Designer
                        p.m-0.color-secondary Apr 9, 2020
                        p.m-0.mt-3 Director
                        p.m-0.color-secondary at Galerie 255
                        .rate-buttons
                            button
                                img(src="images/icons/rate-plus.png" alt="icon")
                            button
                                img(src="images/icons/rate-null.png" alt="icon")
                            button
                                img(src="images/icons/rate-minus.png" alt="icon")
        .row
            .col-12
                h2 Discover
                p We're here to help.
            .col-12.col-md-6.col-xl-4.mt-4.mt-md-0.dashboard-discover
                .dashboard-discover-image.mb-2
                    img(src="images/icons/active.png" alt="some text")
                strong.color-primary.text-regular.text-large.d-block Activate your Account
                span We're here to help.
            .col-12.col-md-3.mt-4.mt-md-0
                strong.text-regular.text-large.d-block Questions?
                span Contact your Hiring Specialist.
            .col-12.col-md-3
                a(href="#").btn.btn-outline-secondary.d-block.mt-3.mt-md-0.d-xl-inline-block.px-xl-5 Contact Now
        .row.dashboard-activity.mt-5
            .col-12
                h2 Account Activity
            .col-6.col-md-3
                strong.text-huge.text-regular 2
                p.text-large.my-2 Jobs posted
                a(href="#").color-primary View report
            .col-6.col-md-3
                strong.text-huge.text-regular 37
                p.text-large.my-2 Job visitors
                a(href="#").color-primary View report
            .col-6.col-md-3.mt-4.mt-md-0
                strong.text-huge.text-regular 20
                p.text-large.my-2 Candidates recieved
                a(href="#").color-primary View report
            .col-6.col-md-3.mt-4.mt-md-0
                strong.text-huge.text-regular $0.00
                p.text-large.my-2 Avaible credits
                a(href="#").color-primary View report
