.page.employer
    .container
        .row
            .col-12
                h1 Welcome to the Employer Help Center!
                div#help.accordion
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large(data-toggle="collapse" data-target="#help-1" aria-expanded="true" aria-controls="help-1") How do I post a job for free?
                        div(data-parent="#help")#help-1.collapse.show
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-2" aria-expanded="true" aria-controls="help-2") Why was my account closed?
                        div(data-parent="#help")#help-2.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-3" aria-expanded="true" aria-controls="help-3") Why was my account deactivated?
                        div(data-parent="#help")#help-3.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-4" aria-expanded="true" aria-controls="help-4") What types of jobs can I post?
                        div(data-parent="#help")#help-4.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-5" aria-expanded="true" aria-controls="help-5") Is Google a partner board?
                        div(data-parent="#help")#help-5.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-6" aria-expanded="true" aria-controls="help-6") Do I have to pay extra fees for each job board?
                        div(data-parent="#help")#help-6.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-7" aria-expanded="true" aria-controls="help-7") How To Chat with Customer Service
                        div(data-parent="#help")#help-7.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-8" aria-expanded="true" aria-controls="help-8") How do I apply the offer code on the mailer I received?
                        div(data-parent="#help")#help-8.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-9" aria-expanded="true" aria-controls="help-9") What countries can I post my job ad to?
                        div(data-parent="#help")#help-9.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-10" aria-expanded="true" aria-controls="help-10") Can I accept candidates without a resume?
                        div(data-parent="#help")#help-10.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-11" aria-expanded="true" aria-controls="help-11") How much does ecjob cost?
                        div(data-parent="#help")#help-11.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-12" aria-expanded="true" aria-controls="help-12") My mailer says “post a job for free” and gives me a offer code, but why am I only getting a 4 day free trial?
                        div(data-parent="#help")#help-12.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
                    .card.py-4.pl-md-4
                        .card-header-custom
                            div.color-primary.text-large.collapsed(data-toggle="collapse" data-target="#help-13" aria-expanded="true" aria-controls="help-13") Why are some of your job board partners listed under the "free" job posting when they cost extra?
                        div(data-parent="#help")#help-13.collapse
                            .card-body.p-0
                                p We provide you with a four day trial of есjobhunting, on us. You will be able to post a job ad and keep whatever candidates you receive.
                                p Step 1: On the upper right corner of the есjobhunting homepage, click on “Post a Job.” Select any plan and enter a credit card to validate your account. (If you decide to cancel before the free trial ends, you will not be charged anything.)
                                p Step 2: Complete your job ad browse candidates.
        .row
            .col-12.mt-4.mt-md-5
                p.mt-0.text-large.text-center Still need help?
            .col-12.d-md-flex.justify-content-center.align-items-center.mt-md-3
                a(href="#").btn.btn-primary.d-block.px-md-5.mr-md-4 Ask a Question
                a(href="#").btn.btn-primary.d-block.mt-3.mt-md-0.px-md-5 Contact Support
