.page.employer
    .container
        .row
            .col-12.col-md-11.col-xl-7
                label.d-block
                    input(type="search" placeholder="Search for a job").field-text
        .row.mt-4
            .col-12.col-xl-8
                h3 Jobs
                ul.filter-list
                    li
                        a(href="#").active.color-black All
                    li
                        a(href="#").color-black New
                    li
                        a(href="#").color-black Active <span>(0)</span>
                    li
                        a(href="#").color-black Draft
                    li
                        a(href="#").color-black Closed
        .row
            .col-12
                .results-item.mt-4
                    .container-fluid
                        .row
                            .d-none.d-md-block.col-md-2.col-xl-1
                                .results-image
                                    img(src="images/jobs-image-1.png" alt="photo")
                            .col-12.col-md-10.col-xl-11
                                .container-fluid
                                    .row
                                        .col-12.col-xl-7
                                            small 5 years ago
                                            h4.color-primary Computer and Information Tech
                                            span.text-usual.color-secondary.mr-5 ProWebDesignUSA
                                            span.d-block.d-md-inline.text-usual.color-secondary.mt-2.mt-md-0 London, United Kingdom
                                            .d-flex.align-items-start.mt-3
                                                .ys-select.ys-select-links.mr-3(data-select)
                                                    span(data-select-value) Manage
                                                    ul
                                                        li
                                                            a(href="#") Edit job
                                                        li
                                                            a(href="#") Add screening questions
                                                        li
                                                            a(href="#") Preview job
                                                        li
                                                            a(href="#") Dublicate job
                                                        li
                                                            a(href="#") Permanently delete
                                                a(href="#").btn.btn-grey.btn-sm Post Job
                                        .col-12.col-xl-5
                                            .container-fluid
                                                .row.mt-4
                                                    .col-6.col-md-12
                                                    .col-6.col-md-12.text-right.text-md-left.color-orange.text-large
                                                        span.pl-xl-2 DRAFT
                .results-item.mt-4
                    .container-fluid
                        .row
                            .d-none.d-md-block.col-md-2.col-xl-1
                                .results-image
                                    img(src="images/jobs-image-2.png" alt="photo")
                            .col-12.col-md-10.col-xl-11
                                .container-fluid
                                    .row
                                        .col-12.col-xl-7
                                            small 5 years ago
                                            h4.color-primary Graduate Inside Sales Representatives
                                            span.text-usual.color-secondary.mr-5 ProWebDesignUSA
                                            span.d-block.d-md-inline.text-usual.color-secondary.mt-2.mt-md-0 London, United Kingdom
                                            .d-flex.align-items-start.mt-3
                                                .ys-select.ys-select-links.mr-3(data-select)
                                                    span(data-select-value) Manage
                                                    ul
                                                        li
                                                            a(href="#") Edit job
                                                        li
                                                            a(href="#") Add screening questions
                                                        li
                                                            a(href="#") Preview job
                                                        li
                                                            a(href="#") Dublicate job
                                                        li
                                                            a(href="#") Permanently delete
                                                a(href="#").btn.btn-grey.btn-sm Post Job
                                        .col-12.col-xl-5
                                            .container-fluid
                                                .row.mt-4
                                                    .col-6.col-md-12
                                                        ul.vacancy-info
                                                            li
                                                                strong.color-dark.text-large.text-regular 4
                                                                span.color-secondary.text-usual Days Posted
                                                            li
                                                                strong.color-dark.text-large.text-regular 2
                                                                span.color-secondary.text-usual Visitors
                                                            li
                                                                strong.color-primary.text-large.text-regular 1
                                                                span.color-secondary.text-usual Candidate
                                                    .col-6.col-md-12.text-right.text-md-left.color-rose.text-large.mt-3
                                                        span.pl-xl-2 CLOSED
                .results-item.mt-4
                    .container-fluid
                        .row
                            .d-none.d-md-block.col-md-2.col-xl-1
                                .results-image
                                    img(src="images/jobs-image-3.png" alt="photo")
                            .col-12.col-md-10.col-xl-11
                                .container-fluid
                                    .row
                                        .col-12.col-xl-7
                                            small 5 years ago
                                            h4.color-primary Java Developer Scala Spring Linux Java Dev
                                            span.text-usual.color-secondary.mr-5 ProWebDesignUSA
                                            span.d-block.d-md-inline.text-usual.color-secondary.mt-2.mt-md-0 London, United Kingdom
                                            .d-flex.align-items-start.mt-3
                                                .ys-select.ys-select-links.mr-3(data-select)
                                                    span(data-select-value) Manage
                                                    ul
                                                        li
                                                            a(href="#") Edit job
                                                        li
                                                            a(href="#") Add screening questions
                                                        li
                                                            a(href="#") Preview job
                                                        li
                                                            a(href="#") Dublicate job
                                                        li
                                                            a(href="#") Permanently delete
                                                a(href="#").btn.btn-grey.btn-sm Post Job
                                        .col-12.col-xl-5
                                            .container-fluid
                                                .row.mt-4
                                                    .col-6.col-md-12
                                                        ul.vacancy-info
                                                            li
                                                                strong.color-dark.text-large.text-regular 4
                                                                span.color-secondary.text-usual Days Posted
                                                            li
                                                                strong.color-dark.text-large.text-regular 35
                                                                span.color-secondary.text-usual Visitors
                                                            li
                                                                strong.color-primary.text-large.text-regular 19
                                                                span.color-secondary.text-usual Candidate
                                                    .col-6.col-md-12.text-right.text-md-left.color-rose.text-large.mt-3
                                                        span.pl-xl-2 CLOSED
