.page.employer.messages
    .container
        .row(data-tab)
            .col-12.col-md-5.col-xl-4
                h1.title-decorated
                    span Messages
                    img(src="images/icons/pencil.png" alt="some text")
                ul.messages-controls
                    li(data-tab-item="1")
                        strong.d-block.text-large.color-primary.text-regular.mb-3 Ann Fuller
                        span.color-secondary For Graphic Designer at ProWebDesignUSA
                    li(data-tab-item="2")
                        strong.d-block.text-large.color-primary.text-regular.mb-3 Christopher Kallini
                        span.color-secondary For Graphic Designer at ProWebDesignUSA
                    li(data-tab-item="3")
                        strong.d-block.text-large.color-primary.text-regular.mb-3 Annette Cox
                        span.color-secondary For Graphic Designer at ProWebDesignUSA
            .col-12.col-md-7.col-xl-8.position-static
                .messages-content(data-tab-content="1")
                    .messages-answer-back.d-md-none(data-tab-back)
                        .messages-answer-back-arrow
                            img(src="images/icons/arrow-back.png" alt="some text")
                        span.d-block Leave message to
                        span.text-large Ann Fuller
                    .messages-answer
                        time.color-secondary.text-center.d-block April 28, 2020
                        .messages-answer-item
                            p We love having examples. It’s so much easier to follow a recipe, build a puzzle, or yes, even write a cover letter when you know what the end product should look like.
                        .messages-answer-item
                            p So that’s what we’re going to give you—all the cover letter examples and tips you need to make yours shine (we’re unfortunately not experts in recipes or puzzles).
                    form
                        label
                            input(type="text" placeholder="Reply to Christopher Kallini").field-text
                        button(type="submit").btn.btn-primary.d-block send
                .messages-content(data-tab-content="2")
                    .messages-answer-back.d-md-none(data-tab-back)
                        .messages-answer-back-arrow
                            img(src="images/icons/arrow-back.png" alt="some text")
                        span.d-block Leave message to
                        span.text-large Christopher Kallini
                    .messages-answer
                        time.color-secondary.text-center.d-block April 28, 2020
                        .messages-answer-item
                            p We love having examples. It’s so much easier to follow a recipe, build a puzzle, or yes, even write a cover letter when you know what the end product should look like.
                    form
                        label
                            input(type="text" placeholder="Reply to Christopher Kallini").field-text
                        button(type="submit").btn.btn-primary.d-block send
                .messages-content(data-tab-content="3")
                    .messages-answer-back.d-md-none(data-tab-back)
                        .messages-answer-back-arrow
                            img(src="images/icons/arrow-back.png" alt="some text")
                        span.d-block Leave message to
                        span.text-large Annette Cox
                    .messages-answer
                        time.color-secondary.text-center.d-block April 28, 2020
                        .messages-answer-item
                            p So that’s what we’re going to give you—all the cover letter examples and tips you need to make yours shine (we’re unfortunately not experts in recipes or puzzles).
                    form
                        label
                            input(type="text" placeholder="Reply to Christopher Kallini").field-text
                        button(type="submit").btn.btn-primary.d-block send
