.container
    .row
        .col-12
            section.mt-3.my-md-5
                h1.mb-md-5 About EcJobHunting
                p Since 2019, ecjobhunting.com has given job seekers free access to millions of jobs from thousands of company websites and job boards. As the leading pay-for-performance recruitment advertising network, ecjobhunting.com drives millions of targeted applicants to jobs in every field and is the most cost-effective source of candidates for thousands of companies.
