section.my-3
    .container
        .row
            .col-12
                .page-header
                    .page-logo
                        img(src="images/penso.png" alt="penso")
                    h1 The Penso Agency
                    h3 Companies vacancies
        .row
            .col-12.col-xl-8
                .vacancies
                    .vacancies-item
                        .vacancies-header
                            h3 Email Designer
                            a(href="#")
                                i.fa.fa-star.color-grey
                                span.color-primary save job for later
                        ul
                            li.color-secondary The Penso Agency
                            li.color-secondary New York, NY
                        ul
                            li.color-secondary Pay	$140,000 to $160,000 Annually
                        p Please send your resume AND portfolio to kara.mckevitt@creativegroup.com if you are interested in this position***TCG's client is looking for an Email Designer for an onsite, freelance position in  ...
                    .vacancies-item
                        .vacancies-header
                            h3 Email Designer
                            a(href="#")
                                i.fa.fa-star.color-gold
                                span.color-primary save job for later
                        ul
                            li.color-secondary The Penso Agency
                            li.color-secondary Saddle Brook, NJ
                        p TCG's client is looking for an Email Designer for an onsite, freelance position in Northern NJ!Conceptualizes, creates and implements intuitive, engaging and brand-consistent email  ...
                    .vacancies-item
                        .vacancies-header
                            h3 Graphic Designer
                            a(href="#")
                                i.fa.fa-star.color-grey
                                span.color-primary save job for later
                        ul
                            li.color-secondary The Penso Agency
                            li.color-secondary Colonia, NJ
                        p The Creative Group is proactively looking for a Graphic Designer who is experienced, knowledgeable, and driven for pipelined opportunities. If you are a strong creative thinker who is looking to put  ...
                    .vacancies-item
                        .vacancies-header
                            h3 Senior Product Designer (UX/UI)
                            a(href="#")
                                i.fa.fa-star.color-grey
                                span.color-primary save job for later
                        ul
                            li.color-secondary The Penso Agency
                            li.color-secondary New York, NY
                        ul
                            li.color-secondary Type	Full-Time
                        p Senior Product Designer (UX/UI) If you are a Senior Product Designer (UX/UI) with experience, please read on! We are a fast-growing crypto-asset trading startup with offices in both San Francisco and  ...
