section.mt-3.my-md-5
    .container
        .row.justify-content-xl-between
            .col-12.col-xl-8
                h1.mb-md-3.mb-xl-5 Email Designer
                .vacancy-header
                    strong.my-3 $1000.00 to $1500.00 Annually
                    span.color-secondary Full-Time
                    span.color-secondary New York, NY
                    strong.mt-4.mb-2 Benefits Offered
                    ul
                        li Medical Insurance
                        li Life Insurance
                        li 401K
                article.mt-5
                    h4 Why Work at This Company?
                    p.mb-4 Inc 500 fastest growing companies
                    p.mb-4 The Penso Agency is looking to hire a select few business partners for the fastest growing financial services sales organization in the United States. We are looking for like-minded people who are coachable and have a proven track record of integrity and willingness to think outside the box. Insurance industry experience is not required but you must be willing to think and act like a business owner.
                    h4 About The Penso Agency:
                    p.mb-4 INNOVATION: We are a people and tech company developing a new model in a world of traditional insurance sales. With an ever changing market and the proliferation of social media our business model is more lucrative than ever before.
                    p.mb-4 FINANCIAL INDEPENDENCE: We are passionate about creating an entrepreneurial platform for both personal producers who desire an active six figure income and builders who want to create a passive income stream where the sky is the limit.
                    p.mb-4 LEADERSHIP: Our mission is to serve our agents by providing access to warm leads and a simple, yet, sophisticated selling system coupled with unparalleled support and leadership. We build leaders!
                    p.mb-4 PRODUCT PORTFOLIO: Our carriers and their products are selected from the BEST in the industry and serve our primary markets of Mortgage Protection, Final Expense, Annuities and Index Universal Life. Our top rated carriers include Foresters, United Home Life, and American Amicable.
                .vacancy-footer
                    a(href="#").btn.btn-primary.btn-lg Apply Now
                    a(href="#").btn.btn-outline-primary.btn-lg Am I Qualified?
            .col-12.col-xl-3.my-5.d-md-flex.d-xl-block
                .vacancy-image
                    img(src="images/penso.png" alt="vacancy")
                .vacancy-info
                    h2.vacancy-company.no-decor The Penso Agency
                    span.color-secondary Posted date: 2 days ago
                    .social.mt-4
                        span Share this job:
                        ul
                            li
                                a(href="#")
                                    i.fa.fa-facebook
                            li
                                a(href="#")
                                    i.fa.fa-instagram
                            li
                                a(href="#")
                                    i.fa.fa-envelope-o
                            li
                                a(href="#")
                                    i.fa.fa-chain

