nav.menu
    .container.p-0
        .row
            .col-12.col-md-3.d-xl-none
                span Account menu:
            .col-12.col-md-6.col-xl-12
                ul(data-select)
                    li
                        a(href="#") Jobs
                    li
                        a(href="#") Messages
                    li(data-select-value)
                        a Profile
