.profile-progress
    .profile-progressbar
        span(style="width: 37%;")
    .profile-header
        h2.no-decor Your Profile is Incomplete
    p Finish your profile to unlock better job matching and stand out to hiring managers!
    ul
        li
            .icon-check.active
            span Register with EcJobHunting
        li
            .icon-check
            span Add Resume
        li
            .icon-check
            span Add Phone Number
        li
            .icon-check
            span Add Skills
        li
            .icon-check
            span Add Headline
        li
            .icon-check
            span Receive a Reference
    a(href="#").btn.btn-primary.btn-full.mt-4 I got hired!
