.profile-activation
    h3 Let Employers Find You
    .custom-handler
        div
    p Private: Your profile is not publicly accessible. However, it is viewable as a part of your applications.
.profile-header
    h2.no-decor Work Experience
    p
        a(href="#") Add Work Experience
.profile-item
    .profile-subitem
        span Aug 2019 - Current
        h3 web designer
        strong companyName
        button.btn.btn-outline-secondary Edit
        p Enthusiastic and self-motivated web designer with 3+ years of experience. Eager to join WebHouse to bring top-class frontend development, UX, and visual design skills. In previous roles redesigned a SaaS website that reduced CAC by 50%, and implemented an SEO-optimized design that boosted traffic by 300%.
    .profile-subitem
        span Aug 2016 - Aug 2017
        h3 web designer
        strong companyName
        button.btn.btn-outline-secondary Edit
        p — Met and corresponded with clients to determine client needs for company sites
        p — Created corporate web sites, portals and large-scale web applications
        p — Developed and designed new web interfaces, layouts and site graphics
.profile-item
    .profile-header
        h2.no-decor Education
    p
        a(href="#") Add Education
    .profile-subitem
        span 2012 - 2016
        h3 New York School
        strong No Degree
        strong Major or field of study
        button.btn.btn-outline-secondary Edit
        p Description
.profile-item
    .profile-header
        h2.no-decor References
    p Hiring managers prefer candidates with references! Ask a former co-worker, manager, teacher or friend to write a reference for you.
    button.btn.btn-outline-secondary.btn-full Request References
.profile-item
    p
        a(href="#") Add Executive Summary
    p
        a(href="#") Add Objective
    p
        a(href="#") Add Achievements
    p
        a(href="#") Add Certificates and Licenses
    p
        a(href="#") Add Associations
    p
        a(href="#") Add Skills
.profile-item
    h2.no-decor More Information
    p
        a(href="#") Add Desired Salary
    p
        a(href="#") Add Years of Experience
    p
        a(href="#") Add Highest Degree Earned
    p
        a(href="#") Add Industry
    p
        a(href="#") Add Veteran Status
